[submodule "resources/font-awesome"]
	path = resources/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "resources/typed.js"]
	path = resources/typed.js
	url = https://github.com/mattboldt/typed.js.git
[submodule "resources/simplebar"]
	path = resources/simplebar
	url = https://github.com/Grsmto/simplebar.git
[submodule "resources/fullpage.js"]
	path = resources/fullpage.js
	url = https://github.com/alvarotrigo/fullPage.js.git
[submodule "resources/animate.css"]
	path = resources/animate.css
	url = https://github.com/daneden/animate.css.git
[submodule "resources/scrollmagic"]
	path = resources/scrollmagic
	url = https://github.com/janpaepke/ScrollMagic.git
[submodule "resources/parallax"]
	path = resources/parallax
	url = https://github.com/wagerfield/parallax.git
