[submodule "resources/jquery.smoothwheel"]
	path = resources/jquery.smoothwheel
	url = https://github.com/fatlinesofcode/jquery.smoothwheel.git
[submodule "resources/particles.js"]
	path = resources/particles.js
	url = https://github.com/VincentGarreau/particles.js.git
[submodule "resources/font-awesome"]
	path = resources/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git