@font-face {
    font-family: Lobster;
    src: url(LobsterTwo-Regular.ttf);
}

@font-face {
    font-family: PoiretOne;
    src: url(PoiretOne-Regular.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(Quicksand-Light.ttf);
}

@font-face {
    font-family: IndieFlower;
    src: url(IndieFlower.ttf);
}

@font-face {
    font-family: Facebook;
    src: url('Klavika Bold (facebook).ttf');
}

@font-face {
    font-family: Twitter;
    src: url('pico-black (twitter).ttf');
}

@font-face {
    font-family: Youtube;
    src: url('league-gothic-regular (youtube).ttf');
}

@font-face {
    font-family: Instagram;
    src: url('Billabong (instagram).ttf');
}

@font-face {
    font-family: Linkedin;
    src: url('MyriadPro-Regular (Linkedin).otf');
}

@font-face {
    font-family: MyriadPro;
    src: url('MyriadPro-Regular (Linkedin).otf');
}

@font-face {
    font-family: Soundcloud;
    src: url('Interstate-Regular (soundcloud).ttf');
}

@font-face {
    font-family: GitHub;
    src: url('ApexSansBoldST (GitHub).ttf');
}

@font-face {
    font-family: Amanda;
    src: url('Ananda Personal Use.ttf');
}

@font-face {
    font-family: BlackSmith;
    src: url('The Blacksmith.ttf');
}

@font-face {
    font-family: LoveHewits;
    src: url('Love Hewits.ttf');
}