/*SECTION PROPERTIES*/
#footer
{
    display: flex;
    
    width: 100vw;
    height: 5vh;
    
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    background-color: black;
}

/*TEXT CONTENT*/
#footer p
{
    display: inline-block;
    position: relative;
    
    width: auto;
    height: auto;
    
    font-size: 20px;
    font-family: poiretone;
    color: white;
}

/*LINK*/
#footer a
{
    color: aqua;
}