#section-quotes
{
    display: flex;
    
    width: 100vw;
    height: 10vh;
    
    background-color: rgba(0, 69, 255, 0.5);
}

#section-quotes span
{
    display: none;
    
    width: auto;
    height: auto;
    
    font-size: 50px;
    font-family: poiretone;
    color: white;
}