/*SECTION PROPERTIES*/
#section-presentation
{
    display: flex;
    
    width: 100vw;
    height: 100vh;
    
    flex-flow: row nowrap;
    justify-content: center;
    
    background-color: #ffffff;
}

/*LEFT SPACE*/
#section-presentation > #s1-left
{
    display: flex;
    
    width: 50vw;    
    height: 100vh;
    
    background-image: url(../../img/profil.jpg);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    
    transition: all .3s ease-in-out 0s;
}

/*LEFT SPACE WHEN HOVERED*/
#section-presentation > #s1-left:hover
{
    background-image: url(../../img/profil2.jpg);
}

/*RIGHT SPACE*/
#section-presentation > div:last-child
{
    display: flex;
    
    width: 50vw;    
    height: 100vh;
    
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*
##################################################
                    LEFT CONTENT
##################################################
*/

/*TITLE H1 BOX*/
#section-presentation > div:last-child > div
{
    display: flex;
    
    width: 100%;
    height: 25vh;
    
    justify-content: center;
    align-items: flex-end;
}

/*TITLE H1*/
#section-presentation h1
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 10vh; /*125px*/
    font-family: BlackSmith;
    color: black;
    text-transform: capitalize;
}

/*TEXT*/
#section-presentation > div:last-child > p
{
    display: inline-block;
    
    width: 100%; 
    height: auto;
    
    padding: 0 125px;
    
    margin-top: 5vh; /*100px*/
    
    font-size: 30px;
    font-family: MyriadPro;
    color: black;
    text-align: justify;
}

/*INFOS SPACE*/
#section-presentation > div:last-child > div:last-child
{
    display: flex;
    
    width: 100%;
    height: auto;
    
    margin-top: 100px;
    padding: 0 125px;
    
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/*INFOS BOXES*/
#section-presentation > div:last-child > div:last-child > div
{
    display: flex;
    
    width: 50%;
    height: 75px;
    
    margin-bottom: 100px;
    
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*LAST INFO BOX*/
#section-presentation > div:last-child > div:last-child > div:last-child
{
    width: 100%;
}

/*ICONS*/
#section-presentation img
{
    display: inline-block;
    
    width: auto;
    height: 100%;
}

/*INFOS BOXES TEXT CONTENT*/
#section-presentation > div:last-child > div:last-child > div > p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    padding-left: 20px;
    
    font-size: 35px;
    font-family: lobster;
}