/*NAVIGATION BAR*/
nav
{
    display: flex;
    position: absolute;
    
    width: 100vw;
    height: 10vh;
    
    flex-flow: row nowrap;
    
    justify-content: space-between;
    align-items: center;
    
    background-color: white;
    
    transition: all .1s ease-in-out 0s;
}

.scrolled
{
    position: fixed;
    top: 0;
    
    background-color: rgba(255,255,255,.95);
}

/*LOGO SPACE*/
nav  > div
{
    display: flex;
    
    width: 25%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

/*LOGO TEXT CONTENT*/
nav > div > p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    margin: auto;
    
    font-size: 110px;
    font-family: LoveHewits;
    color: #009dff;
}

/*MENUS LIST*/
nav ul
{
    display: flex;
    
    width: 75%;
    height: 100%;
    
    padding: 0;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*EACH MENU*/
nav li
{
    display: inline-block;
    
    width: auto;
    height: 100%;
}

/*LINK MENU BOX*/
nav a
{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    
    transition: all .1s ease-in-out 0s;
}

/*LINK MENU BOX - WHEN HOVERED*/
nav a:hover {background-color: #0355f0}
/*TEXT CONTENT - WHEN HOVERED*/
nav a:hover p {color: white}

/*TEXT CONTENT OF EACH MENU*/
nav li p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    padding: 50px;
    
    font-size: 40px;
    font-family: PoiretOne;
    color: black;
    
    transition: all .1s ease-in-out 0s;
}