/*SECTION PROPERTIES*/
#section-music
{
    display: flex;
    
    width: 100vw;
    height: 80vh;
    
    flex-flow: row nowrap;
    
    justify-content: center;
    align-items: center;
    
    background-color: #f0f0f0;
    
    z-index: 0;
}

/*LEFT SPACE (ALL VIDEOS)*/
#section-music > div:first-child
{
    display: flex;
    
    width: 50%;
    height: 100%;
    
    flex-flow: row nowrap;
}

#section-music > triangle
{
    display : inline-block;
    position: absolute;
    
    height : 0;
    width : 0;
    
    border-top : 150px solid transparent;
}

#section-music > #s2-triangle-left
{
    border-bottom : 150px solid transparent;
    border-left : 150px solid #d89fe8;
}

#section-music > #s2-triangle-right
{
    border-right : 150px solid #a2e89b; 
    border-bottom : 150px solid transparent; 
}

/*RIGHT SPACE (COMPOS)*/
#section-music > div:last-child
{
    display: flex;
    
    width: 50%;
    height: 100%;
    
    flex-flow: row nowrap;
}

/*ROW TITLE BOXES*/
#section-music > div > div,
#section-music > div > div
{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*LEFT MENU TITLE BOX BACKGROUND COLOR*/
#section-music > div:first-child > div:first-child {background-color: #d89fe8}

/*RIGHT MENU TITLE BOX BACKGROUND COLOR*/
#section-music > div:last-child > div:last-child {background-color: #a2e89b}

/*IMAGES*/
#section-music img
{
    display: inline-block;
    
    width: 175px;
    height: auto;
    
    -webkit-animation-name: bounce;
    animation-name: bounce;
    
    animation-iteration-count: 0;
}

/*IMAGES WHEN TITLE BOX IS HOVERED*/
#section-music > div > div:first-child:hover > img,
#section-music > div > div:last-child:hover > img
{
    animation-iteration-count: infinite;
}

/*MENU TITLES*/
#section-music h2
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 50px;
    font-family: quicksand;
}

/*iframes*/
#section-music iframe
{
    display: none;
    
    width: 560px;
    height: 315px;
    
    z-index: 1;
}

/*
######################################################################
                            HOVER EFFECTS
######################################################################
*/

/*RIGHT SPACE WHEN LEFT IS HOVERED (ALL VIDEOS)*/
#section-music > div:first-child:hover 
{
    
}