/*SECTION PROPERTIES*/
#music
{
    display: flex;
    
    width: 100vw;
    height: 100vh;
    
    flex-flow: column;
    
    background-color: #f0f0f0;
    
    z-index: 0;
}

/*RIGHT & LEFT SPACES CONTAINER*/
#music > div:first-child
{
    display: flex;
    
    width: 100%;
    height: 90%;
    
    flex-flow: row;
}

/*RIGHT & LEFT SPACES */
#music > div:first-child > div
{
    display: flex;
    
    width: 50%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    
    flex-flow: column;
}

/*SPACES IMAGES*/
#music > div:first-child > div > img
{
    display: inline-block;
    
    width: 300px;
    height: auto;
    
    margin-bottom: 25px;
}

/*SPACES TITLES*/
#music > div:first-child > div > h2
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 50px;
    font-family: myriadpro;
}

/*SPACES iFRAMES*/
#music > div:first-child > div > iframe
{
    display: none;
    position: absolute;
    left: 0; 
    right: 0;
    
    width: 80%;
    height: 85%;
    
    margin-left: auto; 
    margin-right: auto;
    
    z-index: 100;
}

/*##### SPACES CUSTOMIZATIONS #####*/

/*LEFT SPACE*/
#music > div:first-child > div:first-child
{
    background-color: blue;
}

/*RIGHT SPACE*/
#music > div:first-child > div:last-child
{
    background-color: green;
}











/*SECTION PROPERTIES*/
#music > div:last-child
{
    display: flex;
    
    width: 100%;
    height: 10%;
    
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
    background-color: #FF0000;
}

/*LOGO*/
#music > div:last-child > svg
{
    display: inline-block;
    
    width: 10%;
    height: 100%;
}

/*ALL BOXES*/
#music > div:last-child div
{
    display: flex;
    
    width: 17%;
    height: 100%;
    
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*ICONS BOX*/
#music > div:last-child > div > div:first-child
{
    display: flex;
    
    width: 25%;
    height: 100%;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*ALL ICONS*/
#music > div:last-child i
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 3vw;
    
    color: white;
    
    transition: all .3s ease-in-out 0s;
}

/*TEXTS BOX*/
#music > div:last-child > div > div:last-child
{
    display: flex;
    
    width: 75%;
    height: 100%;
    
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*ALL TEXTS*/
#music > div:last-child p
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 3vw;
    font-family: lobster;
    
    color: white;
    
    transition: all .3s ease-in-out 0s;
}

/*INFO TEXTS*/
#music > div:last-child > div > div > p:last-child
{
    display: none;
}

/*INFO TEXTS WHEN BOX IS HOVERED*/
#music > div:last-child > div:hover > div > p:last-child
{
    display: inline-block;
}

/*CHANNEL STATS WHEN BOX IS HOVERED*/
#music > div:last-child > div:hover > div > p
{
    display: none;
}

#music > div:last-child separator
{
    display: inline-block;
    
    width: 1px;
    height: 50%;
    
    background-color: white;
}