/*SECTION PROPERTIES*/
#music
{
    display: flex;
    
    width: 100vw;
    height: 80vh;
    
    flex-flow: row nowrap;
    
    justify-content: center;
    align-items: center;
    
    background-color: #f0f0f0;
    
    z-index: 0;
}

/*RIGHT & LEFT BOXES */
#music > div
{
    display: flex;
    
    width: 50%;
    height: 100%;
    
    flex-flow: row nowrap;
    
    transition: all .3s ease-in-out 0s;
}

#music triangle
{
    display : inline-block;
    position: absolute;
    
    height : 0;
    width : 0;
    
    border-top : 150px solid transparent;
}

#s2-leftbox:after
{
    content: ' ';
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-left: 10px solid red;
    position: absolute;
    left: 50%;
    top: 50%;
}

#s2-triangle-right
{
    border-right : 150px solid #a2e89b; 
    border-bottom : 150px solid transparent; 
}

/* CLOSE CROSS */
#music > img
{
    display: inline-block;
    position: absolute;
    
    height: 2vh;
    width: auto;
    
    margin-top: 1vh;
    
    align-self: flex-start;
    
    background-color: white;
    border-radius: 100%;
}

/*ROW TITLE BOXES*/
#music > div > div,
#music > div > div
{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*LEFT MENU TITLE BOX BACKGROUND COLOR*/
#music > div:first-child > div:first-child {background-color: #d89fe8}

/*RIGHT MENU TITLE BOX BACKGROUND COLOR*/
#music > div:last-child > div:last-child {background-color: #a2e89b}

/*IMAGES*/
#music img
{
    display: inline-block;
    
    width: 175px;
    height: auto;
    
    -webkit-animation-name: bounce;
    animation-name: bounce;
    
    animation-iteration-count: 0;
}

/*IMAGES WHEN TITLE BOX IS HOVERED*/
#music > div > div:first-child:hover > img,
#music > div > div:last-child:hover > img
{
    animation-iteration-count: infinite;
}

/*MENU TITLES*/
#music h2
{
    display: inline-block;
    
    width: auto;
    height: auto;
    
    font-size: 50px;
    font-family: quicksand;
}

/*iframes*/
#music iframe
{
    display: none;
    
    width: 560px;
    height: 315px;
    
    z-index: 1;
}

/*
######################################################################
                            HOVER EFFECTS
######################################################################
*/

/*RIGHT SPACE WHEN LEFT IS HOVERED (ALL VIDEOS)*/
#music > div:first-child:hover 
{
    
}